<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>{{name}}</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
      <link rel="stylesheet" href="..\static\css\style.css">
      <script src="..\static\js\index.js"></script>
   </head>
   <h1>{{name}}</h1>
   <body>
      <div class="container">
         <div class="header_wrap">
            <div class="num_rows">
               <div class="form-group">
                  <select class  ="form-control" name="state" id="maxRows" style="width: 20%;">
                     <option value="10">
                     10</option>
                     <option value="15">15</option>
                     <option value="20">20</option>
                     <option value="50">50</option>
                     <option value="70">70</option>
                     <option value="100">100</option>
                     <option value="5000">Show ALL Rows</option>
                  </select>
               </div>
            </div>
            <div class="tb_search">
               <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control" style="width: 20%;">
               <br>
            </div>
         </div>
         {% for table in tables %}
         {{titles[loop.index]}}
         {{ table|safe }}
         {% endfor %}
         <div class='pagination-container'>
            <nav>
               <ul class="pagination">
               </ul>
            </nav>
         </div>
         <div class="rows_count">Showing 11 to 20 of 91 entries</div>
         <br>
         <form method = "POST">
            <p>Enter Word : <input type = "text" name = "word" /></p>
            <p><input type = "submit" value = "submit" style="background-color: #ff9800;color:antiquewhite;font-size: medium;"/></p>
         </form>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
      <script src="..\static\js\pagination.js"></script>
   </body>
</html>